@font-face {
    font-family: 'Sansation';
    src: url('@/fonts/Sansation_Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

html,
body {
    margin: 0;
    font-family: 'Sansation', sans-serif;
    background-color: #003366;
}